name: Dev - Build & Deploy

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]

concurrency:
  group: dev-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    permissions:
      security-events: write
    uses: ./.github/workflows/reusable-build.yml
    with:
      environment: dev
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY_URL: ${{ secrets.ECR_REPOSITORY_URL }}

  deploy:
    needs: build
    uses: ./.github/workflows/reusable-deploy-ecs.yml
    with:
      environment: dev
      digest: ${{ needs.build.outputs.digest }}
      taskdef_path: app/ecs-taskdef.dev.json
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY_URL: ${{ secrets.ECR_REPOSITORY_URL }}
      ECS_TASK_EXECUTION_ROLE_ARN: ${{ secrets.ECS_TASK_EXECUTION_ROLE_ARN }}
      ECS_CLUSTER: ${{ secrets.ECS_CLUSTER }}
      ECS_SERVICE: ${{ secrets.ECS_SERVICE }}
      CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
